.speech
{
    font-size:20; font-family:Serif; color:black;
}
.Stagedirections
{
    font-size:20;font-family:Courier;background-color:lavenderblush;color:black;
}
.Name
{
    font-size:20;font-family:'Times New Roman' ;color:black;
}
.Stagedirections:hover
{
    background:sandybrown;color:Red;
}
.Goring
{
    color:blueviolet;
}
.Goring:hover
{
    background-color:lightpink;
    color:navy;
    border-style: double;
    text-shadow:1px 2px 3px gold;
    filter: blur(1px);
}
.Robert
{
    color:chartreuse;
}

.Robert:hover
{
    background-color:lightpink;
    color:navy;
    border-style: double;
    text-shadow:1px 2px 3px gold;
    filter: blur(1px);
}

table th,td 
{
    font-family: 'Times New Roman', Times, serif;
    color:rebeccapurple;
    border:1px solid black;
    border-collapse: collapse;
    width: 40%;
    padding: 8px; 
    text-align:center;
   
}  
table tr:nth-child(even)
{
    background-color:lightslategray;
}


