.speech
{
    font-size:20; font-family:Courier; color:black;
}
.stagedirections
{
    font-size:20;font-family:Courier; background:LavenderBlush;color:black;
}
.stagedirections.hover
{
    background: LavenderBlush;color:Red;
}
.goring
{
    color:blueviolet;
}
.robert
{
    color:chartreuse;
}
