.Speech
{
    font-size:20; font-family:Serif; color:black;
}
.Stagedirections
{
    font-size:20;font-family:Courier;background-color:lavenderblush;color:black;
}
.Name
{
    font-size:20;font-family:'Times New Roman' ;color:black;
}
.Stagedirections:hover
{
    background:sandybrown;color:Red;
}
.Goring
{
    color:blueviolet;
}
.Robert
{
    color:chartreuse;
}
table{
    font-family: 'Times New Roman', Times, serif;
    color:rebeccapurple;
    border-collapse: collapse;
    width: 40%;
    text-align:"left";
}
table td, table th
{
    border: 1px solid burlywood;
    padding: 8px; margin:50px;
    text-align:center;
}
tr:nth-child(even) 
{
    background-color:lightyellow;
}
table tr:hover
{
    background-color: #ddd;
}
table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:mediumseagreen;
    color: white;
}
